<h1>Bienvenido Para Alquilar una Película o Serie </h1>

<div>
	<h2>Arrendar Película </h2>
	<form action= "arrendar/actualizar" method="get">
		<label>Nombre y Apellido:</label>
			<input type="text" name="nombre">
		
		<label>Correo Electrónico:</label>
			<input type="email" name="correo">

		<label>	Seleccionar Pelicula: </label>
			<%= select_tag(:entretenimiento, options_for_select(@peliculas))%>

		<input type="submit" value="Guardar">

	</form>
</div>

<div>
	<h2>Arrendar Serie </h2>
	<form action= "arrendar/actualizar" method="get"  >
		<label>Nombre y Apellido:</label>
			<input type="text" name="nombre">
		
		<label>Correo Electrónico:</label>
			<input type="email" name="correo">

		<label>Seleccionar Serie: </label>
			<%= select_tag(:entretenimiento, options_for_select(@series))%>

		<input type="submit" value="Guardar">

	</form>
</div>

<div>
	<h1>Películas y Series Arrendadas</h1>
	<table cellpadding="10">
		<tr>
			<th>Nombre</th>
			<th>Correo</th>
			<th>Titulo</th>
			<th>Tipo</th>
			<th>Costo</th>
		</tr>
		<% @arrendados.each  do |actual| %>
	  		<tr>
	 	 		<th><%= actual.user.nombre %> </th>
	 	 		<th> <%= actual.user.email %> </th>
	 	 		<th><%= actual.entretenimiento.titulo %> </th>
	 	 		<th><%= actual.entretenimiento.tipo %> </th>
	 	 		<th><%= actual.entretenimiento.precio %> </th>
	 		</tr>
	<% end %>
	</table>
</div>